

.banners-text {
	padding: 1% 7% 0% 7%;
	font: 100%/1.5 Arial, sans-serif;
}

.banners-images {
	padding: 1% 4% 0% 4%;
}

#mParentTabsContainer {
	background-color: #0072B0;
	padding: 1% 2% 1% 2%;
}

#mChildTabsContainer {
	background-color: white;
	border-radius: 8px;
}

#mParentTabsContainer > h2 {
	color: white;
}