#upper-banner {
	padding-bottom: 20px;
}

#spazio_centrale {
	
}

#group00{
	text-align: center;
    padding:2%;
}

#group01{
	text-align: center;
    padding:2%;
}

#group10{
	text-align: center;
    padding:2%;
}

#group11{
	text-align: center;
    padding:2%;
}
